@define TotalLength: 10s;
@define TimingFunc: linear;
@define IterationCount: 1;

.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
  text-transform: uppercase;
  color: #cccccc;
}

#GameModeHints
{
  margin: 10px;
  font-size: 18px;
  color: #8f9092;
}

#GameModeImage
{
  horizontal-align: center;
  width: 200px;
  height: 150px;

  box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 100px;
  flow-children: right;
}

#seq
{
    overflow: clip;
    //pre-transform-scale2d: 1.35, 1.35;
}

@keyframes 'x' {}

#seq_2_am
{
  animation-name: seq_am_anim;
  animation-duration: TotalLength;
  animation-timing-function: ease;
  animation-iteration-count: IterationCount;
  //margin-left: -100px;
}

@keyframes 'seq_am_anim'
{
  0%
  {
    transform: translateX( -1000px );
    //pre-transform-scale2d: 1.5, 1.5;
  }

  100%
  {
  }
}

#seq_3_logo
{
  animation-name: seq_logo_anim;
  animation-duration: TotalLength;
  animation-timing-function: ease;
  animation-iteration-count: IterationCount;
  //pre-transform-scale2d: 1.5, 1.5;
}

@keyframes 'seq_logo_anim'
{
  0%
  {
    transform: translateY( -400px );
    //pre-transform-scale2d: 0.5, 0.5;
  }

  100%
  {
  }
}

